.imgPos__imgPos1 {
  border-radius: 30px 30px 30px 30px;
  padding: 5px;
  transition: 1s;
  margin: 25px 0px 25px 0px; }

.imgPos__imgPos1:hover {
  transform: scale(1.07); }

.imgPos__imgPos2 {
  border-radius: 30px 30px 30px 30px;
  padding: 5px;
  margin: 25px 0px 25px 0px;
  transition: 1s; }

.imgPos__imgPos2:hover {
  transform: scale(1.07); }

.imgPos__imgPos3 {
  padding: 5px;
  margin: 0px 10px 0px 10px;
  display: inline-block;
  width: 50px;
  height: 50px;
  transition: 0.5s;
  justify-content: center; }

.imgPos__imgPos3:hover {
  transform: scale(1.5); }

.cuerpo__fuente {
  font-family: 'Josefin Sans', sans-serif; }

.cuerpo__fondoCompleto {
  background-color: #DCDFE3; }

.CentEsp__p {
  margin-top: 10px; }

.CentEsp__textoCentro {
  text-align: center;
  letter-spacing: 2px; }

.CentEsp__imgCentro {
  display: block;
  margin: auto; }

.CentEsp__espaciado {
  letter-spacing: 1.5px;
  margin-top: 30px;
  margin-bottom: 30px; }

.CentEsp__espaciadoPared {
  margin-left: 20px;
  margin-right: 20px; }

.carousel-control-prev {
  left: 0;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.001)); }

.carousel-control-next {
  right: 0;
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.001)); }

.imgPos1:hover {
  transform: scale(1.07); }

.imgPos2:hover {
  transform: scale(1.07); }
