//Variables 

//Tipos de colores

$colorgrad: #000000;
$gradiente1: #E27979;
$gradiente2: #2CDC3D;

$color1: #000000;
$color2: #000000;
$colorpie: silver;

//Posiciones y box model para imagenes

.imgPos { 

&__imgPos1 {
	border-radius: 30px 30px 30px 30px;
	padding: 5px;
	transition:1s;
	margin: 25px 0px 25px 0px;
}

&__imgPos1:hover {
	transform:scale(1.04);
}

&__imgPos2 {
	border-radius: 30px 30px 30px 30px;
	padding: 5px;
	margin: 25px 0px 25px 0px;
	transition:1s;
}

&__imgPos2:hover {
	transform:scale(1.04);
}

&__imgPos3 {
	padding:5px;
	margin:0px 10px 0px 10px;
	display:inline-block;
	width: 50px;
	height: 50px;	
	transition:0.5s;
	justify-content:center;
}

&__imgPos3:hover {
	transform:scale(1.5);
}
}

//Cuerpo principal

.cuerpo {

&__fuente {
	font-family: 'Josefin Sans', sans-serif;;
}

&__fondoCompleto {
	background-color:#DCDFE3;	
}
}

//Centrados y espaciados

.CentEsp {

&__p {
	margin-top:10px;	
}

&__textoCentro {
	text-align: center;
	letter-spacing: 2px;
}

&__imgCentro {
	display:block;
	margin:auto;
}

&__espaciado {
	letter-spacing: 1.5px;
	margin-top:30px;
	margin-bottom:30px;
}

&__espaciadoPared {
	margin-left:20px;
	margin-right:20px;
}
}

//Condicional de carrusel para imagenes

.carousel-control-prev {
	left:0;
	@if else $gradiente1 == $gradiente2 {
	background-image: linear-gradient(90deg, rgba($colorgrad, .25), rgba($colorgrad, .001));
	}
}

.carousel-control-next {
	right: 0;
	@if else $gradiente1 == $gradiente2 {
	background-image: linear-gradient(270deg, rgba($colorgrad, .25), rgba($colorgrad, .001));
	}
}

//Mixin para click de imagenes

@mixin imgPos {
	transform:scale(1.07);
} 

.imgPos1:hover {
	@include imgPos
}

.imgPos2:hover {
	@include imgPos
}
